body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h2 {
    color: #333;
}

#registrationForm1, #loginForm, #userList {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

#userList p {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
    #registrationForm, #loginForm, #userList {
        max-width: 80%;
    }
}

#saveButton:disabled {
    background-color: #d3d3d3; /* Grey background color for disabled state */
    color: #808080; /* Grey text color for disabled state */
    cursor: not-allowed; /* Change cursor to indicate button is disabled */
}

#menu {
    margin-bottom: 20px;
}

#menu button {
    margin-right: 10px;
}
